@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header{
	
   
    &__inner{
        width: 1950px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        top:0;
        z-index: 99;
        background-color:rgba(255, 255, 255, 0.82);
	    padding-left: 200px;
	    padding-right: 200px;
    
    }
    
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 20px;
    }
    
    .search{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        cursor: pointer;
    }
    &__search{
        background-color: transparent;
        border: none;
        position: relative;
        top: 10px;
        transition: 0.5s ease-in-out;
    }    
    .closeBtn{
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        scale: 0;
    }
        
  
    .searchBox{
        position: absolute;
        right:-100%;
        width: 100%;
        height:100%;
        display: flex;
        background: #fff;
        align-items:center;
        padding: 0 200px;
        transition: 0.5s ease-in-out;
        &.active{
            right:0;
        p{
            padding: 12px;
        }
        }
        
    }
  .header__search.active{
        left:0;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
        scale: 0;
  }
    .searchBox input{
        width: 78%;
        border: none;
        outline: none;
        height: 50px;
        font-size: 1.25em;
        background: #fff;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    
    .closeBtn.active{
        opacity: 1;
        visibility: visible;
        transition: 0.5s;
        scale: 1;
        margin-bottom: 20px
    }
    
    .searchBtn{
        background-color: #EF4D9C;
        width: 105px;
        height: 50px;
        margin: 20px;
        border-radius: 3px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        border: none;
        cursor: pointer;
    }
}



.menu{
    padding-left: 40px;
    padding-right: 40px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 40px;
    }
    &__list-link{
        @extend %title-font;
        color: #333333;
        line-height: 32px;
        cursor: pointer;

    }

}
.footer{  
    
    &__content{
        background-color: $grey;
        padding: 115px 0 102px;
           

    .container{
        
         display: flex;
        justify-content: space-between;

    }

  
    }  

    &__social{
        width: 520px; 
    }

    &__info-text{
        font-size: 19px;
	    line-height: 24px;
        color:#FFFFFF;
        margin-bottom: 24px;

    }

    &__form-input{
        font-size: 16px;
	    line-height: 24px;
        padding-left: 22px;
        background-color: transparent;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        width: 421px;
        height:60px;

    }
    &__form-button{
        position: absolute;
        margin-left: 14px;
        width: 172px;
        height: 60px;
        background: #9B9B9C;
        border: none;
        border-radius: 3px;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;

    }

    &__social ul{
        display: flex;
        padding: 24px 0 0 0;
        margin-left: -10px;

    }

    &__social a{
        display: inline-block;
        margin: 10px;
        
       
    }
    &__info__link-a,&__info__link-b,&__info__link-c{
        color:#FFFFFF;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
   
    }

    &__social img:hover{
        background-color: #EF4D9C;
        border-radius:50%;
    }
   
    
   
    &__copyright{
        
        background-color: $grey;
        color: #FFFFFF;
        font-size: 16px;
	    line-height: 24px;
        display: flex;
       
    p{

        padding-right: 130px;
        font-size: 16px;
	    line-height: 24px;
        text-transform: uppercase;  
    }

   
    .container{
        display: flex;
        justify-content: space-between;
    }
   
    
    }
      &__btn{
        background-color: transparent;
        border:none;
        img:hover{
            background-color: #EF4D9C;
            border-radius:50%;
        }
        
    }
}


.rightside-menu{
    pointer-events: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 295px;
    background: rgba(255, 255, 255, 1);
    padding-top: 47px;
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    box-shadow: 0 0 0 2000px rgba(38,189,235,0.3);
    &.rightside-menu--close{
        transform: translateX(800%);
    }

  
    &__close{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 222;
        margin-bottom: 30px; 
    }
    &__content{
        text-align: center;
        max-width: 160px;
        margin: 0 auto; 
        margin-bottom: 20px;

    }  
    &__link {
        color:#333333;
        display: flex;
    }
}
   
.top{ 
   
    &__slider-img{
    position: relative;
    width:100%
    }

    &__slider-item{
        display:flex;
        justify-content: center;
      
        
    }
    &__slider-info{
        max-width: 572px;
        height: 72px;
        font-weight: 300;
        font-size: 28px;
        line-height: 36px;
       
    }
    &__slider-title {
        color:#333333;
        font-weight: 700;
        font-size: 72px;
        line-height: 70px;
        position: absolute;
        top: 273px;
        left:210px;
        margin-bottom: 42px;
        width: 100%;
    }
    &__slider-text{
        position: absolute;
        top: 385px;
        left:210px;
        margin-bottom: 42px;
        width: 585px;
    }
    &__slider-button{
        position: absolute;
        top: 499px;
        left:207px;
        background-color: transparent;
        border:none;
        cursor:pointer;
    }
    .feedback__form{
        position: absolute;
        top: 400px;
        left:1975px;
        -webkit-transform:rotate(180deg);
         
        &-btn {
       
        width: 188px;
        height: 48px;
        background: #F9931F; 
        -webkit-transform:rotate(90deg);
        border:none;
        position: fixed;
        cursor:pointer;
      
        }
        &-btn {
           
            color:#FFFFFF;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 12px -1px 12px 1px;
            
        }
    }
    .feedback__content{
        padding: 150px;
        background:#fff;
        position: absolute;
        right: 0;
        top: 0;
        max-width: 684px;
        height:1080px;
        & h2{
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 70px;
            
        }
        & .inputBox{
            position: relative;
            width: 100%;
            margin-top: 25px;
        }
        & .inputBox input{
            width: 100%;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            border: none;
            border-bottom: 1px solid #565658;
            outline:none;
        }
        
        & .inputBox span{
            position: absolute;
            left:0;
            padding: 5px 0;
            font-size: 16px;
            margin: 10px 0;
            pointer-events: none;
            transition: 0.5s;
            color:#959595;
           

        } 
        .required::after{
                content:" *";
                color: red;
                font-size: 20px;
            }
        & .inputBox input:focus ~ span,
        & .inputBox input:valid ~ span
        {
            font-size: 12px;
            transform: translateY(-20px);
        }
        & .inputBox input[type="submit"]{
            margin-top: 70px;
            background: #EF4D9C;
            color:#fff;
            border:none;
            cursor:pointer;
            font-size:18px;
            width: 154px;
            height: 60px;
            margin-bottom: 36px;
        }
        &.feedback__content--close{
            transform: translateX(100%);
        }
        &-close{
            position: absolute;
            background-color:transparent;
            border:none;
            width: 48px;
            height: 56px;
            left: -6px;
            top: 512px;
            cursor: pointer;
        }
        .real-checkbox{
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;
            z-index: -1;
        }
        .custom-checkbox{
            top:40px;
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            background:#fff;
            border: 1px solid #565658;
            border-radius: 3px;
            vertical-align: sub;
            margin-right: 5px;
            
        }
        span.checkbox-text {
            position: absolute;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            padding-top:35px;
            padding-left: 5px;
            width:399px;
            }
        .custom-checkbox::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 21px;
            background-image: url(../images/vector.svg);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.2s ease-in;
        }
        .real-checkbox:checked + .custom-checkbox::before{
            transform: translate(-50%, -50%) scale(1);
        }
    }
    .slick-dots{
        display: flex;
        align-items: center;
        li{
            margin: 0 15px;
        }

        button#slick-slide-control00 {
            background-image: url(../images/content/01t.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:213px;
      
        }
        button#slick-slide-control01 {
            background-image: url(../images/content/02t.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:285px;
        }
        button#slick-slide-control02 {
            background-image: url(../images/content/03t.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:357px;
        }
        li.slick-active{
            button#slick-slide-control00 {
            background-image: url(../images/content/01.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:192px;
            }
            button#slick-slide-control01 {
            background-image: url(../images/content/02.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:284px;
            }
            button#slick-slide-control02 {
            background-image: url(../images/content/03.png);
            width: 60px;
            height: 64px;
            border: none;
            font-size: 0;
            background-color: transparent;
            position: absolute;
            top: 700px;
            left:356px;
            }

            
        }

    }
}

.info{
    padding-top: 64px; 
    &__title{
        text-transform: uppercase;
        margin-bottom: 48px;
        font-weight: 500;
        font-size: 56px;
        line-height: 64px;
    }
    &__part{
      height: 831px;
    &-textbox{
      position: absolute;
      margin-bottom: 100px;
    } 
    &-cart{
       
        .info-text-a{
            position: absolute;
            margin: -140px 140px;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            width: 431px;
            height:32px;
        }
        .info-text-b{
            position: absolute;
            margin: -150px 140px;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            width: 361px;
            height:32px;
        }
        .info-text-c{
            position: absolute;
            margin: -70px 140px;
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
            width: 361px;
            height:32px;
        }
    } 
    &-image{
        .line{
            padding: 5px 40px;
        }
    }
    .info__text-a{
        padding-left: 676px;
        padding-bottom: 40px;
        font-weight: 380;
        font-size: 23px;
        line-height: 36px;
    }
    .info__text-b{
        padding-left: 676px;
        padding-bottom: 40px;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
    }
    .info__btn{
        position: absolute;
        margin-left: 670px;
        background-color: rgba(0,0,0,0);
        border: none;
        cursor: pointer;
    }

    }
}

.catalog{
    height: 1546px;
    margin-bottom: 30px;
    &__product{
        position: absolute;
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        color:#565658;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        transform: rotate(-90deg);
        left:-170px;
        top:2167px;
        cursor: pointer;
    }
    &__img-a a{
        display: block;
        background-image: url(../images/content/card-1.png);
        height: 368px;
        }
    &__img-a a:hover{
        background-image: url(../images/content/card-11.png);
        height: 368px;
    }
    &__img-b a{
        display: block;
        background-image: url(../images/content/card-2.png);
        height: 368px;
        }
    &__img-b a:hover{
        background-image: url(../images/content/card-22.png);
        height: 368px;
    }
    &__img-c a{
        display: block;
        background-image: url(../images/content/card-3.png);
        height: 368px;
        }
    &__img-c a:hover{
        background-image: url(../images/content/card-33.png);
        height: 368px;
    }
    &__img-d a{
        display: block;
        background-image: url(../images/content/card-4.png);
        height: 368px;
        }
    &__img-d a:hover{
        background-image: url(../images/content/card-44.png);
        height: 368px;
    }
    &__info-a{
        position: absolute;
        top: 2030px;
        margin-left: 74px;
        .catalog__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
            margin-top: 24px;
            
        }
        .catalog__text{
            font-weight: 300;
            font-size: 22px;
            line-height:30px;
            width: 674px;
        }
    }
    &__info-b{
        position: absolute;
        top: 2400px;
        margin-left: 74px;
        .catalog__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
            margin-top: 24px;
        }
        .catalog__text{
            font-weight: 300;
            font-size: 22px;
            line-height:30px;
            width: 674px;
        }
    }
    &__info-c{
        position: absolute;
        top: 2780px;
        margin-left: 74px;
        .catalog__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
            margin-top: 24px;
        }
        .catalog__text{
            font-weight: 300;
            font-size: 22px;
            line-height:30px;
            width: 694px;
        }
    }
    &__info-d{
        position: absolute;
        top: 3110px;
        margin-left: 74px;
        .catalog__title{
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
            margin-top: 24px;
        }
        .catalog__text{
            font-weight: 300;
            font-size: 22px;
            line-height:30px;
            width: 724px;
        }
    }
}

.news__title{
    font-weight:500;
    font-size: 56px;
    line-height:64px;
    margin-bottom: 23px;
    margin-left: 31px;
}
.news__slider-wrapper{
    display: flex !important;
    width: 100%;
    margin-bottom: 200px;

}
.news__slider{
   .slick-dots{
    position: absolute;
    display: -webkit-inline-box;
    margin-left: 1250px;
    margin-top: -850px;
    li{
       margin: 0 10px; 
    
    }
       button#slick-slide-control10{
        background-image: url(../images/content/prev.png);
        width: 62px;
        height: 65px;
        font-size: 0;
    }
    button#slick-slide-control11{
        background-image: url(../images/content/next.png);
        width: 62px;
        height: 65px;
        font-size: 0;
    }
    
    button{
        border:none;
        width: 8px;
        height: 8px;
        background-color:#fff;
        
    }
    
} 
}


.news__item{
    width: 476px;
    height: 537px;
    margin-left: 25px;
   &-img{
    margin-bottom: 11px;
    }
   &-date{
    font-weight:500;
    font-size: 18px;
    line-height:24px;
    color: #71BD44;
    margin-bottom: 16px;
}
    &-title{
    font-weight:500;
    font-size: 32px;
    line-height:32px;
    margin-bottom: 16px;
}
    &-title:hover{
        color:#EF4D9C;
    }
    &-text{
    font-weight:300;
    font-size: 22px;
    line-height:30px;
} 
    
}

.specialists{
    height: 746px;
    margin-bottom: 136px;
    &__title{
        position: absolute;
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        color:#565658;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        transform: rotate(-90deg);
        left:-115px;
        top:4511px;
        cursor: pointer;
    }
    .container__catalog{
        display: flex;
        max-width: 1795px;
        margin: 0 0 auto auto;
        height: 308px;
    }
    .container__catalog-bc{
        display: block;
    }
    &__img-a a{
        display: block;
        background-image: url(../images/content/card-specialists-1.png);
        height: 738px;
        width: 897px;
        }
    &__img-a a:hover{
        background-image: url(../images/content/card-specialists-11.png);
        height: 738px;
        width: 897px;
    }
    &__img-b a{
        display: block;
        background-image: url(../images/content/card-specialists-2.png);
        height: 368px;
        width: 897px;
        }
    &__img-b a:hover{
        background-image: url(../images/content/card-specialists-22.png);
        height: 368px;
        width: 897px;
    }
    &__img-c a{
        display: block;
        background-image: url(../images/content/card-specialists-3.png);
        height: 368px;
        width: 897px;
        }
    &__img-c a:hover{
        background-image: url(../images/content/card-specialists-33.png);
        height: 368px;
        width: 897px;
    }
    &__info-a{
        position: absolute;
        margin-top: 450px;
        width: 604px;
        height: 96px;
        margin-left: 83px;
        &__date-a{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        &__text-a{
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
        }
    }
    &__info-b{
        position: absolute;
        margin-top: -290px;
        width: 604px;
        height: 96px;
        margin-left: 83px;
        &__date-b{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        &__text-b{
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
        }
    }
    &__info-c{
        position: absolute;
        margin-top: -290px;
        width: 604px;
        height: 96px;
        margin-left: 83px;
        &__date-c{
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 16px;
        }
        &__text-c{
            font-weight: 500;
            font-size: 32px;
            line-height: 32px;
        }
    }
}
 .container-fluid{
    background-color: #F8F8F8;
    height: 404px;
    width: 1920px;
 }
.logos__slider{
    top: 102px;
    &-link{
        position: relative;
    }
    &-img{
        width: 278px;
        height:186px;
        object-fit: cover;
    }
    
}